* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    /* Fondo oscuro */
    color: #ffffff;
    /* Texto blanco */
}

.form-container {
    background: #2b2b2b;
    /* Fondo gris oscuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffb700;
    /* Tono de color vibrante */
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #bdc3c7;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffb700;
    /* Botón con tono vibrante */
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"] {
    display: block;
    margin: 10px 0;
    background-color: #3498db;
    /* Azul claro */
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    outline: none;
    border-color: #ffb700;
}
.a{
    display: block;
    margin: 10px 0;
    background-color: #3498db;
    /* Azul claro */
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}